<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "sample app", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to("Home", root_path) %></li>
              <li><%= link_to "Help",    '#' %></li>
              <li><a href="<%= new_user_session_path %>">Sign-in</a></li>
              <% if user_signed_in? %>
                <li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <div>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>

